fastapi
uvicorn
pandas
langchain
langchain-core
langchain-google-genai
sentence_transformers
langchain_huggingface
python-multipart
openpyxl
duckdb 
pymupdf
beautifulsoup4
requests
python-docx            
xlrd                  
matplotlib

